* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background-color: #f5f5f5;
  }

header {
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav {
    float: center;
}

header nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #000000;

}

section.pilih-profesi {
    padding: 20px;
}

section.pilih-profesi h2 {
    margin-bottom: 10px;
    text-align: center;
}

.profesi {
    display: flex;
    flex-wrap: wrap;  
}

.profesi div {
    margin: 10px;
    height: 362px;
    width: 289px;
    text-align: center;
    border-radius: 20px;
}

.profesi div img {
    width: 213px;
    height: 208px;
}

.profesi div h3 {
    margin: 10px;
}

.profesi div p {
    margin: 10px;
}

.tentara {
    background-color: #D5FFDD;
}

.btn-tentara {
    background-color: #399349;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

.buruh {
    background-color: #FFF4DC;
}

.btn-buruh {
    background-color: #E29A00;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

.pramugari {
    background-color: #FFCED7;
}

.btn-pramugari {
    background-color: #FF5573;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

.fotografer {
    background-color: #E2F2FF;
}

.btn-fotografer {
    background-color: #3279AF;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

.dokter {
    background-color: #E9E8E2;
}

.btn-dokter {
    background-color: #CAC8B3;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

.pilot {
    background-color: #E9E8E2;
}

.btn-pilot {
    background-color: #CAC8B3;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

.ilmuan {
    background-color: #E9E8E2;
}

.btn-ilmuan {
    background-color: #CAC8B3;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

.pembalap {
    background-color: #FFDBC5;
}

.btn-pembalap {
    background-color: #E36415;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

.astronout {
    background-color: #8FC5ED;
}

.btn-astronout {
    background-color: #275E87;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 212px;
    height: 46;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    .box{
        width: 289px;
        height: 347px;
    }    
    }